# Server Configuration
PORT=3000            # Port number for the server
HOST=localhost       # Use '0.0.0.0' to give LAN/internet access
NODE_ENV=development # 'development' | 'production'. Development debuggs, production keeps console clean
# PUBLIC_URL="https://yourdomain.tld" # The public base URL of your CinePro Core instance. Use this when your server is exposed through a public hostname, reverse proxy, or domain. NO TRAILING SLASH.
STREMIO_ADDON=false  # Set to 'true' to enable Stremio addon functionality. Usage: host:port/stremio/manifest.json
CORS_ORIGIN="*"      # CORS origin for the server. Set to '*' to allow all origins, or a specific origin (e.g., 'http://example.com')
MCP_ENABLED=false    # Set to 'true' to enable MCP functionality
INTERNAL_DEBUG=false # Set to 'true' to get non-playable sources too. recommended: false

# TMDB Configuration
TMDB_API_KEY=your_tmdb_api_key_here
TMDB_CACHE_TTL=86400

# Cache Configuration
CACHE_TYPE=memory    # 'memory' | 'redis'

# Redis Configuration (if using Redis cache)
REDIS_HOST=localhost # default Redis host
REDIS_PORT=6379      # default Redis port
REDIS_PASSWORD=      # Redis password if required
